// side-nav colors
$active-tab-background: #502634;
$active-tab-text: #fff;
$table-background: rgba(34,34,34,0.61);
$profile-background: #fff;
$calendar-body-background: #ccc;
$main-background: #222222;

$panel-button-border: #b9b9b9;