@mixin nav-link($padding,$font-size) {
  padding: $padding;
  font-size: $font-size;
  color: $side-nav-a;

  text-decoration: none;
  cursor: pointer;
  display: block;
}

@mixin positioned-element($position: fixed,$height:auto,$top:auto,$left:auto,$bottom:auto,$right:auto) {
  position: $position;
  height: $height;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}