.menu {
  .menu-category {
    padding: 10px 20px;
    background-color: $table-background;;
    color: white;
    border-radius: 10px;

    &-title {
      font-weight: bold;
      padding: 0 5px;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
  }

  table {
    &.table {
      td {
        white-space: normal !important;
        width: 20%;
        &:nth-child(2) {
          width: 60%;
        }
      }
      &.modyfied{
        td {
          width: 15%;
          &:nth-child(2) {
            width: 40%;
          }
        }
      }
    }
  }
}